@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Force full height on the entire chain */
html,
body,
#__next,
main {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  background: black;
  -webkit-text-size-adjust: none;
  /* Prevent font scaling */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}